{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/glazkova.iomp.online/mgt",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1614746712000,
          "date": "2022-01-31T13:01:57.479Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1614746716000,
          "date": "2022-01-31T13:01:58.113Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1644489298088.7246,
          "date": "2022-02-10T10:35:11.105Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1644245053163.058,
          "date": "2022-02-07T14:49:11.784Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1644245332414.9668,
          "date": "2022-02-07T14:49:13.173Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1644581231359.593,
          "date": "2022-02-11T12:51:47.106Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1644581231378.5806,
          "date": "2022-02-11T12:51:47.768Z"
        },
        {
          "file": "fonts/CormorantBold.eot",
          "mtimeMs": 1643189138000,
          "date": "2022-01-31T13:02:05.252Z"
        },
        {
          "file": "fonts/CormorantBold.svg",
          "mtimeMs": 1643189136000,
          "date": "2022-01-31T13:02:06.682Z"
        },
        {
          "file": "fonts/CormorantBold.ttf",
          "mtimeMs": 1643188070000,
          "date": "2022-01-31T13:02:07.494Z"
        },
        {
          "file": "fonts/CormorantBold.woff",
          "mtimeMs": 1643189134000,
          "date": "2022-01-31T13:02:08.825Z"
        },
        {
          "file": "fonts/CormorantBold.woff2",
          "mtimeMs": 1643189138000,
          "date": "2022-01-31T13:02:09.504Z"
        },
        {
          "file": "fonts/CormorantSemiBold.eot",
          "mtimeMs": 1643189234000,
          "date": "2022-01-31T13:02:10.250Z"
        },
        {
          "file": "fonts/CormorantSemiBold.svg",
          "mtimeMs": 1643189230000,
          "date": "2022-01-31T13:02:11.448Z"
        },
        {
          "file": "fonts/CormorantSemiBold.ttf",
          "mtimeMs": 1643188060000,
          "date": "2022-01-31T13:02:12.487Z"
        },
        {
          "file": "fonts/CormorantSemiBold.woff",
          "mtimeMs": 1643189230000,
          "date": "2022-01-31T13:02:13.395Z"
        },
        {
          "file": "fonts/CormorantSemiBold.woff2",
          "mtimeMs": 1643189234000,
          "date": "2022-01-31T13:02:14.071Z"
        },
        {
          "file": "fonts/PTSansBold.eot",
          "mtimeMs": 1643334612000,
          "date": "2022-01-31T13:02:14.811Z"
        },
        {
          "file": "fonts/PTSansBold.svg",
          "mtimeMs": 1643334612000,
          "date": "2022-01-31T13:02:15.739Z"
        },
        {
          "file": "fonts/PTSansBold.ttf",
          "mtimeMs": 1643334612000,
          "date": "2022-01-31T13:02:16.462Z"
        },
        {
          "file": "fonts/PTSansBold.woff",
          "mtimeMs": 1643334612000,
          "date": "2022-01-31T13:02:17.076Z"
        },
        {
          "file": "fonts/PTSansBold.woff2",
          "mtimeMs": 1643334614000,
          "date": "2022-01-31T13:02:17.793Z"
        },
        {
          "file": "fonts/RalewayBold.eot",
          "mtimeMs": 1616235088000,
          "date": "2022-01-31T13:02:18.860Z"
        },
        {
          "file": "fonts/RalewayBold.svg",
          "mtimeMs": 1616235088000,
          "date": "2022-01-31T13:02:19.961Z"
        },
        {
          "file": "fonts/RalewayBold.ttf",
          "mtimeMs": 1616235088000,
          "date": "2022-01-31T13:02:20.739Z"
        },
        {
          "file": "fonts/RalewayBold.woff",
          "mtimeMs": 1616235088000,
          "date": "2022-01-31T13:02:21.449Z"
        },
        {
          "file": "fonts/RalewayBold.woff2",
          "mtimeMs": 1616235088000,
          "date": "2022-01-31T13:02:22.273Z"
        },
        {
          "file": "fonts/RalewayRegular.eot",
          "mtimeMs": 1639917120000,
          "date": "2022-01-31T13:02:23.288Z"
        },
        {
          "file": "fonts/RalewayRegular.svg",
          "mtimeMs": 1639917120000,
          "date": "2022-01-31T13:02:30.279Z"
        },
        {
          "file": "fonts/RalewayRegular.ttf",
          "mtimeMs": 1639917120000,
          "date": "2022-01-31T13:02:35.963Z"
        },
        {
          "file": "fonts/RalewayRegular.woff",
          "mtimeMs": 1639917120000,
          "date": "2022-01-31T13:02:37.931Z"
        },
        {
          "file": "fonts/RalewayRegular.woff2",
          "mtimeMs": 1639917120000,
          "date": "2022-01-31T13:02:38.950Z"
        },
        {
          "file": "fonts/RalewayThin.eot",
          "mtimeMs": 1639917132000,
          "date": "2022-01-31T13:02:39.804Z"
        },
        {
          "file": "fonts/RalewayThin.svg",
          "mtimeMs": 1639917132000,
          "date": "2022-01-31T13:02:40.629Z"
        },
        {
          "file": "fonts/RalewayThin.ttf",
          "mtimeMs": 1639917132000,
          "date": "2022-01-31T13:02:41.321Z"
        },
        {
          "file": "fonts/RalewayThin.woff",
          "mtimeMs": 1639917132000,
          "date": "2022-01-31T13:02:42.090Z"
        },
        {
          "file": "fonts/RalewayThin.woff2",
          "mtimeMs": 1639917134000,
          "date": "2022-01-31T13:02:42.756Z"
        },
        {
          "file": "img/backs/for-bg-1.png",
          "mtimeMs": 1643544655601.0283,
          "date": "2022-01-31T13:02:52.730Z"
        },
        {
          "file": "img/backs/get-bg.png",
          "mtimeMs": 1643544661519.4885,
          "date": "2022-01-31T13:02:53.624Z"
        },
        {
          "file": "img/backs/main-bg-1.png",
          "mtimeMs": 1643544666827.543,
          "date": "2022-01-31T13:02:54.414Z"
        },
        {
          "file": "img/backs/main-bg-2.png",
          "mtimeMs": 1643544673631.2996,
          "date": "2022-01-31T13:02:55.188Z"
        },
        {
          "file": "img/backs/main-bg-3.png",
          "mtimeMs": 1643544692349.7727,
          "date": "2022-01-31T13:02:56.013Z"
        },
        {
          "file": "img/backs/plan-bg-1.png",
          "mtimeMs": 1643544698474.475,
          "date": "2022-01-31T13:02:56.925Z"
        },
        {
          "file": "img/backs/plan-bg-2.png",
          "mtimeMs": 1643544704675.716,
          "date": "2022-01-31T13:02:57.992Z"
        },
        {
          "file": "img/backs/revs-bg.png",
          "mtimeMs": 1643544774981.806,
          "date": "2022-01-31T13:02:58.594Z"
        },
        {
          "file": "img/backs/video-bg.png",
          "mtimeMs": 1643544721478.9639,
          "date": "2022-01-31T13:02:59.168Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "date": "2022-01-31T13:02:59.894Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1631085676361,
          "date": "2022-01-31T13:03:00.508Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "date": "2022-01-31T13:03:01.096Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "date": "2022-01-31T13:03:01.778Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "date": "2022-01-31T13:03:02.395Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "date": "2022-01-31T13:03:03.293Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "date": "2022-01-31T13:03:04.361Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1603097200514,
          "date": "2022-01-31T13:03:06.259Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "date": "2022-01-31T13:03:06.964Z"
        },
        {
          "file": "img/images/asya.png",
          "mtimeMs": 1643544838073.261,
          "date": "2022-01-31T13:03:09.900Z"
        },
        {
          "file": "img/images/author-title-img.png",
          "mtimeMs": 1643544844468.4756,
          "date": "2022-01-31T13:03:10.484Z"
        },
        {
          "file": "img/images/for-img-1.png",
          "mtimeMs": 1643544849760.802,
          "date": "2022-01-31T13:03:11.071Z"
        },
        {
          "file": "img/images/for-img-2.png",
          "mtimeMs": 1643544855891.3962,
          "date": "2022-01-31T13:03:11.673Z"
        },
        {
          "file": "img/images/iphone.png",
          "mtimeMs": 1643544862256.2048,
          "date": "2022-01-31T13:03:12.333Z"
        },
        {
          "file": "img/images/last-img-1.png",
          "mtimeMs": 1643544891990.3545,
          "date": "2022-01-31T13:03:12.947Z"
        },
        {
          "file": "img/images/last-img-2.png",
          "mtimeMs": 1643544897832.5737,
          "date": "2022-01-31T13:03:13.562Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1643544970799.6006,
          "date": "2022-01-31T13:03:14.181Z"
        },
        {
          "file": "img/images/main-img-1.png",
          "mtimeMs": 1643544933105.3218,
          "date": "2022-01-31T13:03:14.838Z"
        },
        {
          "file": "img/images/main-img-2.png",
          "mtimeMs": 1643544940220.1716,
          "date": "2022-01-31T13:03:15.459Z"
        },
        {
          "file": "img/images/plan-title.png",
          "mtimeMs": 1643544948871.2637,
          "date": "2022-01-31T13:03:16.105Z"
        },
        {
          "file": "img/images/video-img.png",
          "mtimeMs": 1643544956437.0312,
          "date": "2022-01-31T13:03:16.834Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1643542289926.2642,
          "date": "2022-01-31T13:03:18.096Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1644243887814.2476,
          "date": "2022-02-07T14:24:55.256Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1644489297493.272,
          "date": "2022-02-10T10:35:14.864Z"
        },
        {
          "file": "img/images/asya-mob.png",
          "mtimeMs": 1643620432925.379,
          "date": "2022-01-31T13:03:08.772Z"
        },
        {
          "file": "confirm-h/index.html",
          "mtimeMs": 1644245021020.3577,
          "date": "2022-02-07T14:49:12.379Z"
        },
        {
          "file": "h/index.html",
          "mtimeMs": 1644489298086.726,
          "date": "2022-02-10T10:35:13.105Z"
        },
        {
          "file": "promo-h/index.html",
          "mtimeMs": 1644489297493.272,
          "date": "2022-02-10T10:35:15.394Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1614746722000,
          "date": "2022-01-31T13:01:58.766Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.eot",
          "mtimeMs": 1614299968000,
          "date": "2022-01-31T13:02:43.583Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.svg",
          "mtimeMs": 1614299968000,
          "date": "2022-01-31T13:02:44.435Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.ttf",
          "mtimeMs": 1614299968000,
          "date": "2022-01-31T13:02:45.251Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.woff",
          "mtimeMs": 1614299968000,
          "date": "2022-01-31T13:02:46.039Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.woff2",
          "mtimeMs": 1614299970000,
          "date": "2022-01-31T13:02:46.678Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.eot",
          "mtimeMs": 1614299990000,
          "date": "2022-01-31T13:02:47.363Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.svg",
          "mtimeMs": 1614299990000,
          "date": "2022-01-31T13:02:48.725Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.ttf",
          "mtimeMs": 1614299990000,
          "date": "2022-01-31T13:02:49.604Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.woff",
          "mtimeMs": 1614299990000,
          "date": "2022-01-31T13:02:50.213Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.woff2",
          "mtimeMs": 1614299992000,
          "date": "2022-01-31T13:02:50.829Z"
        },
        {
          "file": "img/icons/gmail.png",
          "mtimeMs": 1614582310000,
          "date": "2022-01-31T13:03:04.961Z"
        },
        {
          "file": "img/icons/mailru.png",
          "mtimeMs": 1614582310000,
          "date": "2022-01-31T13:03:05.606Z"
        },
        {
          "file": "img/icons/yahoo.png",
          "mtimeMs": 1614582310000,
          "date": "2022-01-31T13:03:07.525Z"
        },
        {
          "file": "img/icons/yandex.png",
          "mtimeMs": 1614582310000,
          "date": "2022-01-31T13:03:08.092Z"
        },
        {
          "file": "js/confirm.js",
          "mtimeMs": 1643632886888.0002,
          "date": "2022-01-31T13:03:17.408Z"
        },
        {
          "file": "img/banner.png",
          "mtimeMs": 1643635694427.1162,
          "date": "2022-01-31T13:28:37.780Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1644242203565.6672,
          "date": "2022-02-07T13:58:27.919Z"
        },
        {
          "file": "img/revs/rev-1.min.png",
          "mtimeMs": 1644242210561.4707,
          "date": "2022-02-07T13:58:28.590Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1644242214859.9365,
          "date": "2022-02-07T13:58:29.420Z"
        },
        {
          "file": "img/revs/rev-2.min.png",
          "mtimeMs": 1644242221690.2678,
          "date": "2022-02-07T13:58:30.269Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1644242228402.8372,
          "date": "2022-02-07T13:58:31.137Z"
        },
        {
          "file": "img/revs/rev-3.min.png",
          "mtimeMs": 1644242237365.7932,
          "date": "2022-02-07T13:58:31.789Z"
        },
        {
          "file": "img/revs/rev-4.jpg",
          "mtimeMs": 1644242242510.048,
          "date": "2022-02-07T13:58:32.595Z"
        },
        {
          "file": "img/revs/rev-4.min.png",
          "mtimeMs": 1644242252979.3772,
          "date": "2022-02-07T13:58:33.650Z"
        },
        {
          "file": "img/revs/rev-5.jpg",
          "mtimeMs": 1644242258051.0884,
          "date": "2022-02-07T13:58:34.618Z"
        },
        {
          "file": "img/revs/rev-5.min.png",
          "mtimeMs": 1644242265308.3835,
          "date": "2022-02-07T13:58:35.617Z"
        },
        {
          "file": "img/revs/rev-6.jpg",
          "mtimeMs": 1644242273417.1873,
          "date": "2022-02-07T13:58:36.824Z"
        },
        {
          "file": "img/revs/rev-6.min.png",
          "mtimeMs": 1644242282487.8323,
          "date": "2022-02-07T13:58:37.819Z"
        },
        {
          "file": "img/revs/rev-7.jpg",
          "mtimeMs": 1644242286201.4753,
          "date": "2022-02-07T13:58:38.509Z"
        },
        {
          "file": "img/revs/rev-7.min.png",
          "mtimeMs": 1644242294600.6326,
          "date": "2022-02-07T13:58:39.234Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1644243602510.8428,
          "date": "2022-02-07T14:21:31.105Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1644243608191.6804,
          "date": "2022-02-07T14:21:31.848Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1644243615273.413,
          "date": "2022-02-07T14:21:32.514Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1644243623029.166,
          "date": "2022-02-07T14:21:33.274Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1644584733211.577,
          "date": "2022-02-11T13:06:53.515Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1644584694050.8713,
          "date": "2022-02-11T13:06:54.181Z"
        },
        {
          "file": "js/course-libs.min.js",
          "mtimeMs": 1644495838053.2463,
          "date": "2022-02-10T13:26:24.940Z"
        },
        {
          "file": "js/course.js",
          "mtimeMs": 1644583614484.42,
          "date": "2022-02-11T12:51:48.289Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course-libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course-libs.min.js"
        }
      },
      {
        "file": "_app/_js/course.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course.js"
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.js",
          "tasks": {
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/h.pug",
        "config": {
          "customOutput": "h\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo-h.pug",
        "config": {
          "customOutput": "promo-h\\index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
