.general-title-for
	max-width 880px
	@media screen and (max-width 991px)
		max-width 560px
.button-wrapper-for
	margin-top: 90px
	@media screen and (max-width 991px)
		margin-top: 50px
	@media screen and (max-width 386px)
		margin-top: 30px
.general-bg-for
	right -200px
	bottom: 0
	@media screen and (max-width 560px)
		display none
.general-img-for-1
	left -400px
	top -80px
	@media screen and (min-width 1440px)
		top: -115px;
	@media screen and (max-width 767px)
		top -200px
		width 450px
		left -200px
	@media screen and (max-width 560px)
		display none
.general-img-for-2
	right -400px
	bottom: -360px
	@media screen and (max-width 767px)
		width 400px
		right -200px
		bottom: -200px
	@media screen and (max-width 560px)
		display none