.general-title-get
	max-width 1170px
.general-bg-get
	bottom: 0
	right -200px
	@media screen and (max-width 560px)
		display none
.button-wrapper-get
	margin-top: 90px
	@media screen and (max-width 991px)
		margin-top: 50px