#prices
	padding 200px 0 0
	background-image: url(../img/backs/video-bg.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
.general-img-packets-1
	top 100px
	left 0
	right 0
	margin 0 auto
.packet
	border-radius: 15px
	background-color #fff
	padding: 30px
	border 1px solid #c4c4c4
	width 100%
	max-width 380px
	margin: 0 auto 40px
	&-head
		&-title
			font-size: 30px
			text-align center
			font-family: PTS
			font-weight: bold
			color: #000
			text-transform uppercase
	&-body
		padding 20px 0
		margin 20px 0
		border-top: 2px solid #FFF1D8
		border-bottom: 2px solid #FFF1D8
		min-height 401px
		&-list
			margin-top: 20px
			li
				list-style none
				padding-left: 12px
				position relative
.cost
	text-align: center
	font-family: CR
	font-size: 30px
	font-weight: 500
	text-transform uppercase
	color: #fff
	text-shadow: -1px -1px 0 #4E4C4C, 1px -1px 0 #4E4C4C, -1px 1px 0 #4E4C4C, 1px 1px 0 #4E4C4C, 0 0 0 #4E4C4C, 0 -1px 0 #4E4C4C, -1px 0 0 #4E4C4C, 1px 0 0 #4E4C4C, 0 1px 0 #4E4C4C
	margin-bottom: 45px
	span
		display block
		text-transform none
		font-size: 60px
		font-weight: bold
		line-height: 40px
		color #000
		text-shadow: none
.prepayment
	text-align center
	&-title
		font-size: 40px
		font-weight: bold
		text-transform uppercase
		color red
	&-text
		font-size: 20px
		margin 20px 0 30px
.prepayment-button
	padding 9px 90px