footer
	.container
		if footer_title
			h5 Хотите узнать больше? Вступайте в наши группы!
			.soc-buttons
				a(href="https://www.facebook.com/Mastervision1C/" target="_blank").soc-button-fb
				a(href="https://vk.com/mv_akademia" target="_blank").soc-button-vk
				a(href="https://twitter.com/MastervisionEzo" target="_blank").soc-button-tw
				a(href="https://www.instagram.com/mastervision1/" target="_blank").soc-button-insta
				a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank").soc-button-yt
				a(href="https://t.me/Master_Vision_Academy" target="_blank").soc-button-tg
				.clfix
		p ООО "Институт современной психологии", 
			br
			| 125315,  г. Москва, пр-кт Ленинградский, д. 68, стр. 24, эт/пом/ком 2/IV/20
			br
			| ОГРН 1197746615736, ИНН 7727431274, КПП 771401001
		if oferta
			a.conditions(href=oferta download) Условия возврата денежных средств