#main
	padding 0 0 90px
	min-height calc(100vh - 162px)
	@media screen and (max-width 991px)
		text-align center
		padding 40px 0
	@media screen and (max-width 386px)
		padding 30px 0
.general-bg
	right -200px
	bottom: 0
.general-img-main-1
	left -300px
	top 250px
.general-img-main-2
.main
	&-subtitle
		font-family: CR
		font-size: 26px
		font-weight: bold
		text-transform uppercase
		margin 30px 0
		@media screen and (max-width 560px)
			font-size: 22px
			margin: 20px 0
	&-text
		line-height: 140%
		font-size: 22px
		margin-bottom: 20px
		span
			font-weight: bold
			&.bonus-name
				text-transform uppercase
				font-family: CR
				color #fff
				text-shadow: -1px -1px 0 #4E4C4C, 1px -1px 0 #4E4C4C, -1px 1px 0 #4E4C4C, 1px 1px 0 #4E4C4C, 0 0 0 #4E4C4C, 0 -1px 0 #4E4C4C, -1px 0 0 #4E4C4C, 1px 0 0 #4E4C4C, 0 1px 0 #4E4C4C
				letter-spacing: 2px
		span.blue
			color #3F8FD2
		@media screen and (max-width 767px)
			font-size: 20px
			margin-bottom: 20px
		@media screen and (max-width 386px)
			margin-bottom 15px
			font-size: 18px
.video-wrapper-main
	width 100%
	max-width 560px
	@media screen and (max-width 991px)
		margin-bottom: 30px