#video
	padding 250px 0 300px
	background-image: url(../img/backs/video-bg.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
	margin-bottom: -120px
.general-img-video
	top -100px
	right 50px
.video-wrapper-video
	margin-bottom: 100px
.video-text
	font-size: 22px
	margin-top: 120px