.general-title-for
	max-width 880px
.button-wrapper-for
	margin-top: 90px
.general-bg-for
	right -200px
	bottom: 0
.general-img-for-1
	left -400px
	top -80px
.general-img-for-2
	right -400px
	bottom: -360px