#plan
	padding 230px 0
.general-title-plan
	max-width 690px
	margin-bottom: 30px
.general-bg-plan-1
	right -500px
	top 200px
.general-bg-plan-2
	left -300px
	bottom 0
.day
	&-2
		margin 50px 0 110px
	&-title
		position relative
		padding 60px 75px 30px 90px
		display inline-block
		&:before
			content: ''
			display block
			position absolute
			width 300px
			height: 160px
			background-image: url(../img/images/plan-title.png)
			background-repeat: no-repeat
			background-position: center
			background-size contain
			top: 36px;
			left: 22px;
		h4
			font-family: CR
			font-size: 68px
			font-weight: bold
			color #5BBEAC
	&-subtitle
		font-size: 24px
		font-weight: bold
		text-transform uppercase
		margin-bottom: 40px
	&-bonus
		display table
		width 100%
		max-width 860px
		margin-top: 60px
		border-radius: 15px
		background-color: #FAE0B1
		padding 20px 80px
		&-title
			padding-right: 65px
			border-right: 5px solid #fff
			display table-cell
			vertical-align middle
			font-family: CR
			font-size: 36px
			font-weight: bold
			color: #5BBEAC
			text-transform uppercase
		&-text
			display table-cell
			vertical-align middle
			padding-left: 65px
			font-size: 24px
			color #4E4C4C