#author
	padding 200px 0 100px
.general-title-author-wrapper
	position relative
	padding 200px 200px
	margin-bottom: -100px
	&:before
		content: ''
		display block
		position absolute
		width 555px
		height: 408px
		background-image url(../img/images/author-title-img.png)
		background-repeat: no-repeat
		background-position: center
		background-size contain
		top 50px
		left 100px
		z-index -1
.general-title-author
	max-width 600px
	margin-left: 0
.author-img
	position relative
	padding-top: 100%
	img
		position absolute
		top -300px
		left -100px