CR = 'Cormorant', serif;
PTS = 'PTSans', sans-serif;
RW = 'Raleway', sans-serif;

@font-face
	font-family: 'Cormorant';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/CormorantBold.eot');
	src: url('../fonts/CormorantBold.eot') format('embedded-opentype'),url('../fonts/CormorantBold.woff2') format('woff2'),url('../fonts/CormorantBold.woff') format('woff'),url('../fonts/CormorantBold.ttf') format('truetype'),url('../fonts/CormorantBold.svg#CormorantBold') format('svg');
@font-face
	font-family: 'Cormorant';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/CormorantSemiBold.eot');
	src: url('../fonts/CormorantSemiBold.eot') format('embedded-opentype'),url('../fonts/CormorantSemiBold.woff2') format('woff2'),url('../fonts/CormorantSemiBold.woff') format('woff'),url('../fonts/CormorantSemiBold.ttf') format('truetype'),url('../fonts/CormorantSemiBold.svg#CormorantSemiBold') format('svg');
@font-face
	font-family: 'PTSans';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/PTSansBold.eot');
	src: url('../fonts/PTSansBold.eot') format('embedded-opentype'),url('../fonts/PTSansBold.woff2') format('woff2'),url('../fonts/PTSansBold.woff') format('woff'),url('../fonts/PTSansBold.ttf') format('truetype'),url('../fonts/PTSansBold.svg#PTSansBold') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RalewayRegular.eot');
	src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),url('../fonts/RalewayRegular.woff2') format('woff2'),url('../fonts/RalewayRegular.woff') format('woff'),url('../fonts/RalewayRegular.ttf') format('truetype'),url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/RalewayThin.eot');
	src: url('../fonts/RalewayThin.eot') format('embedded-opentype'),url('../fonts/RalewayThin.woff2') format('woff2'),url('../fonts/RalewayThin.woff') format('woff'),url('../fonts/RalewayThin.ttf') format('truetype'),url('../fonts/RalewayThin.svg#RalewayThin') format('svg');
@font-face
	font-family: 'Raleway';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/RalewayBold.eot');
	src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),url('../fonts/RalewayBold.woff2') format('woff2'),url('../fonts/RalewayBold.woff') format('woff'),url('../fonts/RalewayBold.ttf') format('truetype'),url('../fonts/RalewayBold.svg#RalewayBold') format('svg');