*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: RW
	color #000
	background-color #fff
	line-height: 1.56
.wrapper
	overflow hidden
.content
	position relative
	z-index 50
.container
	@media screen and (min-width 1230px)
		max-width 1500px
		width 98%
a
	color: #000
	&:focus
		outline: 0
		text-decoration none
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	top 0
	// z-index 60
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 0
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
		margin 0 auto
.button
	display inline-block
	text-align center
	margin 0 auto
	text-decoration none
	color: #fff
	width: auto
	min-width 220px
	font-family: PTS
	font-size: 24px
	padding 9px 120px
	background-color: #5BBEAC;
	border: 1px solid #C4C4C4;
	border-radius: 15px;
	transition: all .3s ease
	&:focus
		text-decoration none
		color #fff
	&:hover
		text-decoration none
		color #fff
		background-color: #5BBEAC - 20%
	@media screen and (max-width 991px)
		padding 18px 30px
	@media screen and (max-width 560px)
		font-size: 18px
	@media screen and (max-width 386px)
		padding 18px 23px
.general-title
	font-family: CR
	font-size: 60px
	font-weight: bold
	color: #fff
	text-shadow: -1px -1px 0 #4E4C4C, 1px -1px 0 #4E4C4C, -1px 1px 0 #4E4C4C, 1px 1px 0 #4E4C4C, 0 0 0 #4E4C4C, 0 -1px 0 #4E4C4C, -1px 0 0 #4E4C4C, 1px 0 0 #4E4C4C, 0 1px 0 #4E4C4C
	text-transform uppercase
	line-height: 60px
	width 100%
	margin 0 auto 60px
	&-span
		display block
		color #4E4C4C
		text-shadow: none
		text-align right
	&-center
		text-align center
	&-center
		span
			text-align center
	@media screen and (max-width 991px)
		font-size: 40px
		line-height: 40px
	@media screen and (max-width 560px)
		font-size: 36px
		margin-bottom: 40px
	@media screen and (max-width 386px)
		font-size: 30px
		text-align center
		margin-bottom: 30px
		&-span
			text-align center
.dot-span
	position relative
	// display inline-block
	&:before
		content: ''
		display block
		position absolute
		width 10px
		height: 10px
		transform: rotate(45deg)
		top calc(50% - 4px)
		left 0
		right 0
		margin 0 auto
	&-green:before
		background-color: #5BBEAC
	&-yellow:before
		background-color: #EDCC90
	@media screen and (max-width 991px)
		&:before
			width 5px
			height: 5px
			top calc(50% - 2px)
	@media screen and (max-width 386px)
		&:before
			width 4px
			height: 4px
.general-img
	position absolute
	z-index -1
.d-mobile
	display none
@media screen and (max-width 991px)
	.d-mobile
		display block !important
	.d-desktop
		display none !important
.general-list
	margin-left: 20px
	@media screen and (max-width 991px)
		margin-left: 0
	li
		list-style: none
		position relative
		margin-bottom: 35px
		padding-left: 60px
		font-size: 24px
		text-align: left
		@media screen and (max-width 991px)
			margin-bottom: 20px
			font-size: 18px
			padding-left: 25px
		&:before
			content: ''
			display block
			position absolute
			width 21px
			height: 21px
			background-color: #EDCC90
			transform: rotate(45deg)
			top 11px
			left 0
			@media screen and (max-width 991px)
				width 10px
				height: 10px
	&-2
		margin-left: 0
		li
			margin-bottom: 10px
			padding-left: 20px
			font-size: 18px
			&:before
				width 10px
				height: 10px
	.general-inner-list
		margin -35px 0 35px 120px
		@media screen and (max-width 991px)
			margin -20px 0 20px 40px
		li
			list-style: disc
			padding-left: 0
			margin-bottom: 0
			&:before
				content none