header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
.header-logo
	float left
.contacts
	float: right
	text-align right
.contact
	display block
	font-size: 18px
	&:focus
		text-decoration none
		color #4E4C4C
	&:hover
		text-decoration underline
		color #4E4C4C