section#video
	.container
		.content
			+imgs('general-img general-img-video', 'img/images/video-img.png','Орбита')
			.row
				.col-md-8
					.video-wrapper.video-wrapper-video
						iframe(src!='https://youtube.com/embed/?modestbranding=1' allowfullscreen)
					+b('d-desktop', '', href, 'Записаться на мастер-класс')
				.col-md-4
					p.-general-text Этот мастер-класс уникален и построен на практическом материале, где доступным языком объясняются ключевые теоретические понятия гештальт-терапии, даются ценные техники, и за 2 дня происходит важная внутренняя работа над собой. Данные практики можно использовать для работы над собой и применять в работе психолога.
					+b('d-mobile', 'button-up', href, 'Записаться на мастер-класс')