section#for
	.container
		.content
			+imgs('general-img general-bg-for', 'img/backs/for-bg-1.png', 'Розовое облачко')
			+imgs('general-img general-img-for-1', 'img/images/for-img-1.png', 'Орбита')
			+imgs('general-img general-img-for-2', 'img/images/for-img-2.png', 'Орбита')
			h3.general-title.general-title-for мастер-класс
				span.general-title-span п
					span.dot-span.dot-span-green о
					| лезен тем, кто:
			ul.general-list
				li хочет разобраться в своей жизни, найти ответ на вопрос “кто я и чего хочу”;
				li хочет изменить к лучшему отношения с партнером, ребенком, родителями;
				li ищет способ избавиться от неприятных чувств;
				li считает себя ленивым и безответственным, винит себя в этом;
				li живет, соответствуя другим, а не себе;
				li ум, тело и эмоции разбалансированы;
				li не чувствует себя, не может сделать выбор;
				li хочет понять что такое гештальт-терапия и научиться её применять на практике;
				li осознать себя прямо “здесь и сейчас”;
				li открыть для себя гештальт-терапию и завершить “незакрытые гештальты”.
			+b('button-wrapper-for', 'button-up', href, 'Мне это необходимо')