section#plan
	.container
		.content
			+imgs('general-img general-bg-plan-1', 'img/backs/plan-bg-1.png', 'Голубой шар')
			+imgs('general-img general-bg-plan-2', 'img/backs/plan-bg-2.png', 'Розовый шар')
			h3.general-title.general-title-plan Пр
				span.dot-span.dot-span-yellow о
				| грамма
				span.general-title-span мастер-класса
			.day.day-1
				.day-title
					h4 1 день
				h5.day-subtitle Общее представление о гештальт-терапии. Теория и практика.
				ul.general-list
					li Гештальт-терапия простыми словами: теория на практических примерах.
					li Эксперименты восприятия как основа гештальт-терапии: парадоксальная теща, ваза Рубина.
					li Гештальт-терапия в 10 терминах: «незакрытый гештальт», ведущая потребность, осознавание, «здесь и сейчас», полярности, ответственность, фигура/фон и многое другое. Узнайте, как это относится к Вам и вашей жизни.
					li Проективная работа с изображениями для осознания актуального состояния в «здесь и сейчас».
				.day-bonus
					h6.day-bonus-title Бонус
					p.day-bonus-text Практическая техника 
						br.d-desktop
						| “Что я могу узнать о себе из тела”
			.day.day-2
				.day-title
					h4 2 день
				h5.day-subtitle Практика гештальт-терапии.
				ul.general-list
					li Где применять гештальт-терапию? Сферы работы гештальтиста. Почему гештальт одинаково эффективен со взрослыми, детьми, подростками, парами и организациями, в коучинге.
					li Гештальт - это терапия действием. Базовые гештальт-эксперименты и их описание:
					ul.general-inner-list
						li Амплификация.
						li Монодрама.
						li Техника пустого стула.
						li Ментальный челнок.
						li Прямое обращение.
					li Как работают, на что направлены, где можно использовать - для себя и в работе с клиентами.
					li Парадоксальная теория изменений как одна их основ гештальт-терапии. Как меняться через принятие себя.
				.day-bonus
					h6.day-bonus-title Бонус
					p.day-bonus-text Практика «Предмет в комнате». 
						br.d-desktop
						| Техника на осознавание собственных проекций через вещи.
			+b('', 'button-up', href, 'Иду на мастер-класс')