section#get
	.container
		.content
			+imgs('general-img general-title-center general-bg-get', 'img/backs/get-bg.png', 'Розовое облачко')
			h3.general-title.general-title-get На мастер-классе 
				span.general-title-span Вы:
			ul.general-list
				li Узнаете эффективный современный метод для работы над собой и другими;
				li Сэкономите время, изучите базовые понятия гештальта, которые содержаться в десятках книг и статей;
				li Попробуете необыкновенные эксперименты и техники гештальта, опытным путем;
				li Получите результаты и осознавания, которые смогут запустить изменения в вашей жизни;
				li Посвятите время себе, получите новые ценные знания.
			+b('button-wrapper-get', 'button-up', href, 'Получить пользу')