section#get
	.container
		.content
			+imgs('general-img', 'img/images/get-img.png', 'Розовое облачко')
			+gt('', 'На мастер-классе ', 'Вы')
			ul.general-list
				li Узнаете эффективный современный метод для работы над собой и другими;
				li Сэкономите время, изучите базовые понятия гештальта, которые содержаться в десятках книг и статей;
				li Попробуете необыкновенные эксперименты и техники гештальта, опытным путем;
				li Получите результаты и осознавания, которые смогут запустить изменения в вашей жизни;
				li Посвятите время себе, получите новые ценные знания.
			+b('', 'button-up', href, 'Получить пользу')