section#author
	.container
		.general-title-author-wrapper
			h3.general-title.general-title-author о тренере
				span.general-title-span Ася Глазк
					span.dot-span.dot-span-yellow о
					| ва
		.row
			.col-md-5.col-md-push-7
				.author-img
					+imgs('', 'img/images/asya.png', 'Ася Глазкова')
			.col-md-7.col-md-pull-5
				ul.general-list
					li Практикующий гештальт-терапевт («Русская Школа гештальта»).
					li Обучающийся практик по работе с телом («Российский центр Розен-метода»).
					li Обладатель множества сертификатов по программам дополнительного образования:
					ul.general-inner-list
						li работа с депрессивными состояниями,
						li межличностная нейробиология, психология и сексология.
					li Участник практических гештальт-конференций.
					li Ведущая терапевтических групп, мастерских на регулярной основе.
					li Эксперт радиошоу.
					li Создатель курсов и вебинаров.
					li Тренер по работе с организациями.
					li Специалист по работе с телом и сновидениями.
					li Прошла более 1000 часов групповой терапии,
					li Регулярно прохожу личную терапию, супервизию и интервизию.
					li ТОП менеджер с 14-летним стажем, в крупной российской компании.