+imgs('general-img general-bg', 'img/backs/for-bg-1.png', 'Розовое облачко')
+imgs('general-img general-img-main-1', 'img/images/for-img-1.png', 'Орбита')
+imgs('general-img general-img-main-2', 'img/images/main-img-2.png', 'Орбиты')
.row
	//- .col-md-5
	//- 	.video-wrapper.video-wrapper-main
	//- 		iframe(src="https://www.youtube.com/embed/?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
	//- 	.d-desktop
	//- 		h3.main-subtitle
	//- 			span Перейдите в Телеграм
	//- 		a.button.button-main(href="https://t.me/+W52ywq-D4M0xMWRi") Подписаться 
	//- 			img(src=path+"img/icons/tg.png" alt="Telegram")
	.col-md-7
		.content
			p.main-text
				span У нас к Вам просьба прямо сейчас подписаться на Телеграм.
				br
				| В нем Вы будете получать и напоминания о начале мастер-класса с ссылками на вебинарную комнату
			p.main-text В благодарность за регистрацию на мастер-класс, в Телеграме Вы получите приятный и полезный аудио-бонус:
				span.bonus-name практика «Карандаш», 
				| направленную на осознанную тренировку сосредоточения и управление вниманием.
			h3.main-subtitle
				span Перейдите в Телеграм
			a.button.button-main(href=" https://t.me/+W52ywq-D4M0xMWRi") Подписаться 
				img(src=path+"img/icons/tg.png" alt="Telegram")