+imgs('general-img general-bg', 'img/backs/for-bg-1.png', 'Розовое облачко')
+imgs('general-img general-img-main-1', 'img/images/for-img-1.png', 'Орбита')
.row
	.col-md-5
		.video-wrapper.video-wrapper-main
			iframe(src="https://www.youtube.com/embed/?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
		.d-desktop
			h3.main-subtitle
				span Перейдите в Телеграм
			a.button.button-main(href="https://t.me/+xPfb1rcI7ZY5MTcy") Подписаться 
				img(src=path+"img/icons/tg.png" alt="Telegram")
	.col-md-7
		.content
			p.main-text
				span У нас к Вам просьба прямо сейчас подписаться на Телеграм.
				br
				| В нем Вы будете получать и напоминания о начале мастер-класса с ссылками на вебинарную комнату
			p.main-text В благодарность за регистрацию на мастер-класс, в Телеграме Вы получите приятный и полезный бонус - 
				span.bonus-name Название бонуса
				| , из которого узнаете:
			ul.general-list.general-list-2
				li Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
				li Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана
				li Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
				li Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
			.d-mobile
				h3.main-subtitle
					span Перейдите в Телеграм
				a.button.button-main(href="https://t.me/+xPfb1rcI7ZY5MTcy") Подписаться 
					img(src=path+"img/icons/tg.png" alt="Telegram")