section#main
	.container
		.content
			+imgs('general-img general-bg-main-1', 'img/backs/main-bg-1.png', 'Голубой пшык')
			+imgs('general-img general-bg-main-2', 'img/backs/main-bg-2.png', 'Голубой пшык')
			+imgs('general-img general-bg-main-3', 'img/backs/main-bg-3.png', 'Розовый пшык')
			+imgs('general-img general-img-main-1', 'img/images/main-img-1.png', 'Орбита')
			+imgs('general-img general-img-main-2', 'img/images/main-img-2.png', 'Орбиты')
			include ../base/1-header
			.main-date
				p Старт курса
				p 21 февраля, 19:00 МСК
			p.main-pre (записи мастер-класса - внизу страницы)
			h1.main-title
				small Обучающий курс
				span.main-title-span-1 Современная
				span.main-title-span-2 гештальт терапия
			h2.main-subtitle Получи практические навыки для 
				br.d-desktopp
				| адаптации к любой жизненной ситуации.
			p.main-author Автор: Ася Глазкова
			+b('button-wrapper-main', '', href, 'Записаться')