section#for
	.container
		.content
			+imgs('general-img general-bg-for', 'img/backs/for-bg-1.png', 'Розовое облачко')
			+imgs('general-img general-img-for-1', 'img/images/for-img-1.png', 'Орбита')
			+imgs('general-img general-img-for-2', 'img/images/for-img-2.png', 'Орбита')
			h3.general-title.general-title-for Этот курс не
				span.dot-span.dot-span-green о
				| бходим вам,
				span.general-title-span если вы желаете:
			ul.general-list
				li провести большую работу над собой в сжатые сроки и приблизиться к счастливой жизни;
				li осознать ключевые потребности и «незавершенные гештальты», поработать с ними;
				li проработать во время обучения свои собственные запросы в различных сферах;
				li сэкономить время и освоить за 4 месяца метод, преподаваемый в других учебных заведениях минимум 3 года;
				li освоить основную теорию и практику гештальт-подхода, которая работает не только с вами, но и с клиентом на разных уровнях и позволяет прийти к целостности;
				li понять как работать с клиентами в рамках гештальт-подхода; 
				li начать практику психолога, монетизировать ее, вывести на новый уровень;
				li получить обширный практический инструментарий, который можно использовать многократно;
				li обогатить свою практику 50 техниками, проверенными на практике.
			+b('button-wrapper-for', '', href, 'Мне это необходимо')