section#plan
	.container
		.content
			+imgs('general-img general-bg-plan-1', 'img/backs/plan-bg-1.png', 'Голубой шар')
			+imgs('general-img general-bg-plan-2', 'img/backs/plan-bg-2.png', 'Розовый шар')
			h3.general-title.general-title-plan Пр
				span.dot-span.dot-span-yellow о
				| грамма
				span.general-title-span курса
			.modules
				h4.modules-title Модуль 1.
					span 10 000р.
					small «Рискните быть живым»: работа с Я в гештальт-терапии.
				.modules-content
					.module#module-1
						ul.module-menu
							li
								a(href="#lesson-1-1") Урок 1
							li
								a(href="#lesson-1-2") Урок 2
							li
								a(href="#lesson-1-3") Урок 3
							li
								a(href="#lesson-1-4") Урок 4
							li
								a(href="#lesson-1-5") Урок 5
							li
								a(href="#lesson-1-6") Урок 6
							li
								a(href="#lesson-1-7") Урок 7
							li
								a(href="#lesson-1-8") Урок 8
							li
								a(href="#lesson-1-9") Урок 9
							li
								a(href="#lesson-1-10") Урок 10
						.lesson#lesson-1-1
							h6.lesson-title Цели и результаты. К чему стремится гештальт-терапия?
							ul.general-list.general-list-2
								li «Вернуть способность радоваться жизни и проживать ее во всей полноте», - что, помимо этого, получает человек в результате гештальт-терапии?
								li Терапия контакта – как работает гештальт в поле "организм/окружающая среда".
								li Встреча, отношения «Я - Ты». Симпатия вместо эмпатии.
								li Почему важен процесс, а не содержание.
								li Паттерны поведения. Почему мы делаем одно и тоже: в кабинете и в жизни.
								li «Чудеса» гештальт-терапии: личный и клиентский опыт изменений.
								li Возможности и области применения гештальта – для себя и других.
								li Практика «Мои ожидания от курса». Практика получения желаемого для тех, кто пройдет курс до конца.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 1
							ul.general-list.general-list-2.general-list-hidden
								li Поймете, как работает гештальт-терапия и почему сегодня она так популярна.
								li Узнаете практические результаты гештальт-терапии на примере реальных клиентов.
								li Почувствуете вдохновение и откроете для себя удивительный мир гештальт-терапии, сможете начать использовать ее принципы.
								li Узнаете, где, как и с кем возможно применять гештальт: для себя и в работе с клиентами.
								li Получите информацию:
									ul.general-inner-list-2
										li - почему гештальт может быть краткосрочной терапией и клиентам нужно меньше времени для реальных изменений,
										li - почему эффекты работы в гештальт-подходе долговременны и устойчивы,
										li - как в процессе работы можно задействовать человека в целом с его телесным статусом, чувствами и мыслями.
						.lesson#lesson-1-2
							h6.lesson-title Синтез Востока и Запада - истоки гештальт-терапии как основа ее популярности
							ul.general-list.general-list-2
								li Это загадочное слово «гештальт» - что оно означает?
								li Основы гештальт-терапии:
									ul.general-inner-list-2
										li - Восточные духовные практики.
										li - Гештальт-психология.
										li - Холизм.
										li - Гомеостаз.
										li - Феноменология.
										li - Психоанализ и гуманистическая психология.
										li - Теория поля.
								li Эпатажный отец-основатель гештальт-терапии – Фредерик Перлз.
								li Практика с «гештальт-молитвой» Перлза, изучаем собственные границы.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 2
							ul.general-list.general-list-2.general-list-hidden
								li Будете владеть ключевыми понятиями на которой строится гештальт-терапия.
								li Сможете понять и применять ключевые смыслы гештальт-терапии в отношении себя и других.
								li Узнаете о том, в чем отличия и сходства психоанализа и гештальт-терапии.
								li Сможете поддержать конструктивный диалог в профессиональной психологической среде.
								li Изучите собственные границы и то, как они влияют на вашу жизнь и отношения.
						.lesson#lesson-1-3
							h6.lesson-title «Закрыть гештальт» – незаконченные ситуации из прошлого, работа с самоблокировкой
							ul.general-list.general-list-2
								li Эффект Зейгарник и как он влияет на жизнь каждого из нас.
								li Как мы мешаем себе получить желаемое? Способы самоблокировки в достижении значимых потребностей.
								li Как «закрыть гештальт»?
								li Практика – нахождение собственных «незакрытых гештальтов» и работа с ними.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 3
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете о том, как используют эффект Зейгарник в целях манипуляции и станете замечать его – в СМИ, в рекламе, сериалах.
								li Научитесь с помощью эффекта Зейгарник управлять собой - концентрироваться на важных задачах и повышать продуктивность.
								li Заметите у себя и окружающих способы самоблокировки и их признаки. Получите возможность их изменить.
								li Узнаете, что такое «незакрытые гештальты», как они влияют на нашу жизнь и организуют ее.
								li Найдете собственные незакрытые гештальты и наметите пути их завершения.
						.lesson#lesson-1-4
							h6.lesson-title Фигура и фон, «здесь и сейчас»
							ul.general-list.general-list-2
								li Зрительное восприятие как основа гештальт-терапии.
								li Закон фигуры и фона – как это работает и что нам дает в повседневной жизни.
								li Как мы выделяем фигуру. Почему одни смотрят на картину и видят девушку, а другие старуху? Знаменитые эксперименты гештальт-психологии.
								li «Здесь и теперь». Актуальность как базовое понятие гештальт-терапии.
								li Практика: «Что мне важно именно сейчас».
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 4
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете, как работают законы восприятия и мышления гештальт-психологии.
								li Поймете, что такое фигура/фон и почему на этом строится гештальт-терапия.
								li Узнаете, как определить актуальную потребность у себя и своих клиентов.
								li Осознаете, что все есть в настоящем и почему не так важно прошлое и будущее.
								li Попробуете применить новые знания на себе и узнаете, что вам на самом деле нужно именно сейчас.
						.lesson#lesson-1-5
							h6.lesson-title Процесс осознавания как основа гештальт-терапии
							ul.general-list.general-list-2
								li Осознавание или awareness. Самоосознавание и перцептивное осознавание.
								li Избегание осознавания и последствия этого. 
								li К чему приводит отвлечение внимания от негативных чувств и привычка не допускать неприятные ситуации.
								li Три зоны осознавания: внутренняя, внешняя и средняя. Средняя как источник невротического страдания. Практики на каждую зону.
								li «Континуум осознавания»​ - теория и практика.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 5
							ul.general-list.general-list-2.general-list-hidden
								li Исследуете осознавание в теории и на практике.
								li Поймете причины, которые движут людьми для избегания осознавания происходящего.
								li Узнаете про «плату» за избегание осознавания негативных чувств и ситуаций.
								li Изучите три зоны осознавания, как они функционируют и ощутите их на собственном опыте.
								li Начнете практиковать навыки осознавания и концентрации для выделения фигуры.
						.lesson#lesson-1-6
							h6.lesson-title Гештальт - это терапия действием. Базовые гештальт-эксперименты
							ul.general-list.general-list-2
								li Изучение техник на практике:
									ul.general-inner-list-2
										li - Амплификация.
										li - Монодрама.
										li - Техника пустого стула.
										li - Ментальный челнок.
										li - Прямое обращение.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 6
							ul.general-list.general-list-2.general-list-hidden
								li Изучите базовые техники гештальт-терапии.
								li Освоите простые и доступные способы работы над собой.
								li Сможете применять полученные знания на практике с другими.
								li Поймете как ранее пройденные уроки – от 1 до 5 находят свое выражение в экспериментах и работе с людьми.
								li Научитесь работать с телесными ощущениями, выражать подавленные эмоции, чувствовать то, что чувствуют другие, сможете связывать события прошлого и настоящего, работать с проекцией, выстраивать более прямой и ясный контакт с другими.
						.lesson#lesson-1-7
							h6.lesson-title Выбор, свобода, ответственность.
							ul.general-list.general-list-2
								li Как мы делаем выбор?
								li Связь выбора, свободы и ответственности.
								li «Принять ответственность за свою жизнь» – понимание ответственности в гештальт-терапии.
								li Чем ответственность отличается от вины? Частые заблуждения и их последствия.
								li Практика – работа с ответственностью «Не могу/не хочу».
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 7
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете, как проявляется экзистенциальные данности в гештальт-подходе.
								li Попробуете ответить для себя на вопрос – кто автор моей жизни?
								li Узнаете, как по-особенному понимается ответственность в гештальт-терапии.
								li Научитесь отличать ответственность и вину, сможете использовать это в работе с другими людьми. Получите ключевые послания для возвращения выбора и ответственности человеку.
								li Сможете осознать, как делаете/не делаете выбор в собственной жизни, как обходитесь с ответственностью и последствия этого.
						.lesson#lesson-1-8
							h6.lesson-title В поисках аутентичности - путь к глубинному Я
							ul.general-list.general-list-2
								li Психические уровни игры, внутренний взрыв, внешний взрыв, глубинная аутентичность.
								li Как пройти кризисы и стать верным себе.
								li Круги общения по Джеймсу Бьюдженталю – от стандартных отношений к интимности.
								li Практика «Как я проявляюсь».
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 8
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете, в чем смысл аутентичности и почему психотерапия – это движение к ней.
								li Поймете, какие этапы проходят на пути к собственному глубинному Я.
								li Узнаете, в чем преимущества кризиса и почему тупик – это хорошо.
								li Поймете, как мы движемся от стандартных отношений к истинной близости с другими людьми.
								li Узнаете, как вы чаще всего проявляетесь с другими.
						.lesson#lesson-1-9
							h6.lesson-title Парадоксальная теория изменений – одна их основ гештальт-терапии
							ul.general-list.general-list-2
								li Как меняться через принятие.
								li Удивительная история Арнольда Бейсера и его теория изменений.
								li «Прежде стать собой и только потом стать другим» - как работает теория на практике.
								li Практика на принятие себя.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 9
							ul.general-list.general-list-2.general-list-hidden
								li Поймете, почему мы все хотим изменений, но они не случаются.
								li Осознаете, почему многие системы мотивации, поощрения, коучинга, авторитетных примеров не работают.
								li Узнаете простой и одновременно очень сложный способ меняться в гештальт-подходе.
								li Услышите несколько удивительных и вдохновляющих историй из теории гештальт-терапии и реальной жизни.
								li Сделаете шаг к принятию себя, такой какая вы есть.
						.lesson#lesson-1-10
							h6.lesson-title Дао: работа с полярностями
							ul.general-list.general-list-2
								li Термин «полярности».
								li «Собака сверху» и «собака снизу».
								li Как объединить агрессивность и нежность?
								li Почему компромисс – это «бледное подобие живых чувств»?
								li Интеграция крайностей как путь к гармонии.
								li Практика – работа со своей «тенью», ищем полярности.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 10
							ul.general-list.general-list-2.general-list-hidden
								li Научитесь относиться к миру и себе во всей многогранности.
								li Узнаете, как мы внутреннее разделяем себя на части.
								li Сможете объединить «антонимы» внутреннего мира и найти путь к их интеграции.
								li Поработаете со своими полярностями, обогатите свой внутренний мир и возможности взаимодействия с внешним миром.
								li Сможете применять знания и практики в работе с другими и понимать больше про близких вам людей.
						p.module-more + Дополнительный пакет из 3-ёх уроков
							span «Послания моих снов» - гештальт-терапия в работе со сновидениями.
				h4.modules-title Модуль 2.
					span 20 000р.
					small Гештальт-терапия для жизни: Я и другие. Работа с отношениями.
				.modules-content
					.module#module-2
						ul.module-menu
							li
								a(href="#lesson-2-1") Урок 1
							li
								a(href="#lesson-2-2") Урок 2
							li
								a(href="#lesson-2-3") Урок 3
							li
								a(href="#lesson-2-4") Урок 4
							li
								a(href="#lesson-2-5") Урок 5
							li
								a(href="#lesson-2-6") Урок 6
							li
								a(href="#lesson-2-7") Урок 7
							li
								a(href="#lesson-2-8") Урок 8
							li
								a(href="#lesson-2-9") Урок 9
							li
								a(href="#lesson-2-10") Урок 10
						.lesson#lesson-2-1
							h6.lesson-title Контакт – центральное понятие гештальт-терапии
							ul.general-list.general-list-2
								li Понятие контакта.
								li Граница-контакт – граница, отделяющая «я» от «не я». Обмен с другими и автономия.
								li Кожа как пример границы-контакт. Разделение/объединение человека и среды.
								li Как происходит взаимодействие на границе-контакт. 
								li Практика «Мои границы».
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 1
							ul.general-list.general-list-2.general-list-hidden
								li Рассмотрите понятие контакт с точки зрения гештальт-терапии.
								li Поймете, почему мы можем не совпадать с другими людьми и как это влияет на наши отношения.
								li Узнаете в чем отличия контакта, слияния и ухода в себя.
								li Поймете почему отказ – это тоже контакт.
								li Ощутите свои границы в окружающем мире и с другими людьми.
						.lesson#lesson-2-2
							h6.lesson-title Потребности – наша ведущая движущая сила
							ul.general-list.general-list-2
								li Что такое потребность? Чем потребность отличается от желания.
								li Виды потребностей: органические, психологические, социальные, духовные.
								li Что происходит с нереализованными потребностями? 
								li Практика "В чем твоя потребность? " - осознаем свои потребности.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 2
							ul.general-list.general-list-2.general-list-hidden
								li Поймете, почему потребности – это движущий мотор нашей жизни и чем они отличаются от инстинктов в психоанализе.
								li Узнаете структуру и иерархию потребностей.
								li Поймете, как нереализованные потребности неосознанно движут людьми, в том числе и вами.
								li Попробуете осознать свою актуальную потребность и сможете впоследствии делать это с клиентами.
								li Узнаете, что такое интенциональная цепочка и сможете оперировать терминами: потребности, желания, интенции, хотения, намерения и их отличия.
						.lesson#lesson-2-3
							h6.lesson-title «Цикл опыта» - как мы взаимодействуем со средой, чтобы удовлетворить свои потребности
							ul.general-list.general-list-2
								li Цикл опыта, цикл контакта, цикл удовлетворения потребности - определение
								li Основные фазы цикла на примере стакана воды:
									ul.general-inner-list-2
										li - преконтакт,
										li - контактинг,
										li - полный контакт,
										li - постконтакт.
								li Как этим пользоваться в повседневной жизни и работе с клиентами.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 3
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете на простом примере одно из центральных понятий, на котором строится гештальт-терапия.
								li Поймете, как мы удовлетворяем свои потребности – теория и практика.
								li Пройдете все стадии удовлетворения потребности и сможете увидеть их на разных примерах в повседневной жизни.
								li Сможете видеть, как другие проходят цикл контакта или не проходят его.
								li Узнаете, как это работает - потребности сменяют друг друга, если цикл контакта пройден.
						.lesson#lesson-2-4
							h6.lesson-title Защитные механизмы психики или сопротивления
							ul.general-list.general-list-2
								li Сопротивления - фундаментальное понятие в гештальт-терапии.
								li Как обнаружить сопротивление.
								li Виды сопротивлений: слияние, интроекция, проекция и ретрофлексия.
								li Как они помогают и мешают нам жить.
								li Практика обнаружения ведущих сопротивлений у себя и других: маркеры тела, речи, действия.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 4
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете, как формируются защитные механизмы или сопротивления.
								li Увидите на примере, как заметить сопротивления у себя и своих клиентов.
								li Разберетесь в основных сопротивлениях - слияние, интроекция, проекция и ретрофлексия.
								li Сделаете мини-практику по каждому из сопротивлений.
								li Сможете научиться замечать признаки ведущих сопротивлений и выводить их в зону осознавания.
						.lesson#lesson-2-5
							h6.lesson-title Работа с сопротивлениями. Этажерка сопротивлений
							ul.general-list.general-list-2
								li Позитивная сторона сопротивлений.
								li Дополнительные виды сопротивлений: дефлексия, профлексия и обесценивание.
								li Практика – обнаружение сопротивлений и работа с ними.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 5
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете, как сопротивления не только мешают, но и помогают нам находиться в контакте с другими.
								li Поймете, как гештальт-терапия рассматривает юмор и что такое «эбаут».
								li Узнаете психологические механизмы: почему нам приятно делать другим хорошее и дарить подарки.
								li Осознаете, как мы обесцениваем себя и других и для чего нам это.
								li Обнаружите еще три сопротивления при помощи различных признаков и маркеров, станете замечать их у себя и своего окружения.
						.lesson#lesson-2-6
							h6.lesson-title Работа с телом
							ul.general-list.general-list-2
								li Единство тела, души и психики. Пентаграмма Гингера.
								li Телесное проявление, сенсорика, двигательная активность.
								li Понятие психосоматики в гештальт-терапии.
								li Практика - работа с телесным симптомом. Внимание! Высокоэффективна в работе с клиентами.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 6
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете, что такое пентаграмма Гингера и научитесь пользоваться ей как диагностическим инструментом.
								li Изучите принцип холизма при работе с телесными проявлениями.
								li Поймете связь телесных симптомов и заболеваний с психическими и душевными процессами.
								li Освоите 100% работающую технику гештальт-терапии для работы с любыми телесными симптомами.
								li Начнете немедленно применять полученные знания для себя и в работе с другими.
						.lesson#lesson-2-7
							h6.lesson-title Чувства и эмоции в гештальт-терапии
							ul.general-list.general-list-2
								li Что такое эмоции, чем они отличаются от чувств?
								li Энергия эмоции и ее проявление в теле.
								li Виды эмоций – базовые, аутичные и их значение. Эмоции как средства регулирования контакта с другими.
								li Значение основных эмоций: злость, обида, вина, нежность, страх и пр.
								li Практика «Карта эмоций».
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 7
							ul.general-list.general-list-2.general-list-hidden
								li Получите новые знания о природе эмоций и чувств.
								li Поймете, как эмоции живут в нашем теле по результатам необычных исследований.
								li Научитесь использовать эмоции в повседневной жизни для ответа на вопросы – как мне с другим. что я хочу сейчас сделать?
								li Узнаете значения основных эмоций.
								li Изучите особенности проявления собственных эмоцией и их телесное размещение. Сможете использовать эту технику на практике.
						.lesson#lesson-2-8
							h6.lesson-title Почему агрессия -  это хорошо?
							ul.general-list.general-list-2
								li Понимание агрессии в гештальт-терапии и ее практическое использование в жизни.
								li Чем агрессия отличается от жестокости.
								li «Хорошие девочки не злятся» – последствия не проявленной агрессии.
								li Как агрессия влияет на наши достижения в жизни.
								li Виды агрессии: активная, пассивная, дентальная, аннигиляционая, деструктивная.
								li Зубы и агрессия.
								li Агрессия - антидот страха.
								li Практика “Работа со злостью” – перевод в конструктивное русло.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 7
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете особенное понимание агрессии в гештальт-подходе: почему поцелуй – тоже агрессия?
								li Поймете, почему нужна агрессия и как она помогает нам брать свое от жизни.
								li Осознаете последствия не проявленной агрессии.
								li Научитесь различать «плохую» и «хорошую» агрессию и направлять ее в конструктивное русло.
								li Освоите работу со страхом при помощи агрессии.
						.lesson#lesson-2-9
							h6.lesson-title Тревога – бич нашего времени
							ul.general-list.general-list-2
								li Значение тревоги как остановленного возбуждения и готовности к действию.
								li Когда тревога становится непереносимой.
								li 5 способов справится с тревогой в «здесь и сейчас».
								li Практика – перевод тревоги в страх. Работа со страхом.
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 9
							ul.general-list.general-list-2.general-list-hidden
								li Осознаете скрытые смыслы тревоги.
								li Поймете, почему сейчас так много тревоги и тревожных расстройств.
								li Заметите и научитесь обращаться со своей тревогой.
								li Сможете оказать помощь тем, кому тревожно.
								li Получите практические инструменты для работы с тревожными состояниями.
						.lesson#lesson-2-10
							h6.lesson-title Итоги. Интегрированная гештальт-терапия
							ul.general-list.general-list-2
								li Новейшие направления в гештальт-терапии и как они работают . Реляционный гештальт.
								li Теория поля – почему «волшебство» возможно. 5 принципов теории поля.
								li Гештальт-терапия как искусство. Неповторимый стиль.
								li Креативность - способность творчески и адаптивно реагировать на ситуацию.
								li Практика «Рискните быть живым», техника «Итоги моего обучения».
							h6.lesson-title.lesson-title-2.general-list-show Результаты Урока 10
							ul.general-list.general-list-2.general-list-hidden
								li Узнаете об актуальных тенденциях и развитии гештальт-терапии последних десятилетий.
								li Получите список новейших авторов и рекомендованной литературы.
								li Поймете, как работает теория поля или откуда берется «волшебство» в гештальт-терапии. Начнете ее использовать.
								li Узнаете, почему так важна креативность, что такое творческое бездействие и креативное приспособление.
								li Получите ценную практику и завершите теоретико-практический  курс гештальт-терапии.
						p.module-more + 2 дополнительных пакета, из 3-ёх уроков каждый:
						ul.general-list.general-list-2
							li «Послания моих снов» - гештальт-терапия в работе со сновидениями».
							li «О чем говорит тело» – работа с телом.
				h4.modules-title Модуль 3.
					span 30 000р.
					small 25 эффективных практик гештальт-терапии и не только на каждый день
				.modules-content
					p.module-text Практики позволят регулярно работать над ключевыми вопросами вашей жизни, развивать навыки осознанности и присутствия в настоящем моменте, работать над отношениями, с самооценкой и формировать позитивное ресурсное состояние.
					p.module-text Все практики могут быть использованы для работы с клиентами.
					.module#module-3
						ul.module-menu
							li
								a(href="#lesson-3-1") Урок 1
							li
								a(href="#lesson-3-2") Урок 2
							li
								a(href="#lesson-3-3") Урок 3
							li
								a(href="#lesson-3-4") Урок 4
							li
								a(href="#lesson-3-5") Урок 5
							li
								a(href="#lesson-3-6") Урок 6
							li
								a(href="#lesson-3-7") Урок 7
							li
								a(href="#lesson-3-8") Урок 8
							li
								a(href="#lesson-3-9") Урок 9
						.lesson#lesson-3-1
							h6.lesson-title Работа с родителями
							ul.general-list.general-list-2
								li Родительские послания во взрослой жизни – «беру/оставляю».
								li Работа с мамой и женской идентичностью.
								li Работа с папой, роль отца в моей жизни.
								li Денежные семейные установки – что мешает/помогает.
								li «Внутренний родитель» - создание поддерживающей фигуры внутреннего родителя.
						.lesson#lesson-3-2
							h6.lesson-title Внутренний конфликт – работа с частями Я
							ul.general-list.general-list-2
								li «Старый заброшенный магазин» - осознавание отчужденных внутренних частей.
								li Работа с внутренним критиком - что он хочет мне сказать?
								li Работа с внутренним ребенком.
						.lesson#lesson-3-3
							h6.lesson-title Осознавание и актуальное состояние
							ul.general-list.general-list-2
								li «Осознанность ощущений» практика для развития навыка осознанности.
								li «Техника 3 вопроса» - отработка связки «ощущения-чувства-мысли».
								li Техника рисунка «Я чувствую себя словно…» - осознание актуального состояния и потребностей.
								li Эксперимент «Предмет в комнате» - проекция как способ заметить себя.
						.lesson#lesson-3-4
							h6.lesson-title Самосострадание
							ul.general-list.general-list-2
								li Письмо сострадания – формирование базового навыка хорошего отношения к себе.
						.lesson#lesson-3-5
							h6.lesson-title Эмоции и чувства
							ul.general-list.general-list-2
								li «Невиновна» - техника для работы с чувством вины.
								li Работа с гневом и злостью - практика «Вулкан».
								li Практика «Дневник эмоций» - отслеживание эмоциональных состояний, событий и отношений с ними связанных.
						.lesson#lesson-3-6
							h6.lesson-title Ответственность и осознавание жизни
							ul.general-list.general-list-2
								li Работа с сожалениями - как сожаления помогают налаживать жизнь.
								li «Линия жизни» - жизненный путь, значимые моменты, будущие цели.
								li Упражнение «Беспомощность» - на принятие своих возможностей и ограничений.
								li Техника на каждый день «Вопросы». Перевод вопроса в утверждение как способ осознания себя.
								li Практика «Письмо будущему себе» для создания желаемого будущего и корректировки текущей жизненной ситуации.
						.lesson#lesson-3-7
							h6.lesson-title Работа с партнером
							ul.general-list.general-list-2
								li Упражнение «Откровенное признание» - осознавание собственных проекций на другого.
								li Конфликт с партнером – техника разрешения конфликта через осознавание себя.
								li Техника завершения отношений - осознание после отношений для их качественного завершения.
						.lesson#lesson-3-8
							h6.lesson-title Выбор
							ul.general-list.general-list-2
								li «Мой выбор» - как чувствуя себя сделать правильный выбор
						.lesson#lesson-3-9
							h6.lesson-title Ресурсы
							ul.general-list.general-list-2
								li Упражнение для поиска внутреннего уникального ресурса.
					p.module-more
						span + Бонусная практика «Образ уверенности».
						|  Практика для создания образа уверенности как ресурса для жизни.
					p.module-more + 3 дополнительных пакета, из 3-ёх уроков каждый:
					ul.general-list.general-list-2
						li «Послания моих снов" - гештальт-терапия в работе со сновидениями».
						li «О чем говорит тело» – работа с телом.
						li «Деньги» - работа над увеличением дохода.
			+b('button-wrapper-plan', '', href, 'Записаться')