section#get
	.container
		.content
			+imgs('general-img general-title-center general-bg-get', 'img/backs/get-bg.png', 'Розовое облачко')
			h3.general-title.general-title-get Что вы п
				span.dot-span.dot-span-green о
				| лучите
				span.general-title-span в&nbsp;результате&nbsp;прохождения&nbsp;курса
			ul.general-list
				li новые знания, навыки и умения, практики на каждый день,
				li личностный рост, повышение качества жизни, ближайшие зоны роста и развития,
				li заметите личные границы, узнаете значение чувств, телесных симптомов, научитесь их понимать,
				li разберетесь с взаимоотношениями в паре, отношениями с окружающими, родителями, детьми (в соответствии с вашим запросом),
				li поймете способы, которыми вы сами себе мешаете жить жизнью о которой мечтаете,
				li посмотрите с новой стороны на свое профессиональное развитие, финансы,
				li найдете собственные ресурсы и механизмы адаптации к переменам в жизни, перестанете их бояться,
				li научитесь делать выбор, опираясь на себя,
				li обретете новые идеи и смыслы для наполненной и счастливой жизни,
				li узнаете много интересной теории по гештальт-терапии и почему она так эффективно работает с людьми,
				li сможете применять новые знания на практике с клиентами и другими людьми,
				li проникнитесь духом гештальта и сможете жить в соответствии с его жизнеутверждающими принципами,
				li сможете начать практику, если вы психолог и качественно расширить свой инструментарий,
				li узнаете личный опыт построения практики и работы с клиентами от практикующего гештальт-терапевта,
				li сделать около 50 эффективных практических техник и провести качественную работу над собой всего за 4 месяца.
			+b('button-wrapper-get', 'button-up', href, 'Получить пользу')