section#last
	.container
		.content
			+imgs('general-img general-img-last-1', 'img/images/last-img-1.png', 'Орбита')
			+imgs('general-img general-img-last-2', 'img/images/last-img-2.png', 'Орбиты')
			.content
				h3.last-title Начните сейчас!
				p.last-text Более 20 000 учеников доверяют нам и реализует свои цели
				+b('', '', href, 'Иду на курс!')